* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 62.5%;
}

.main {
    width: calc(100% - 270px);
    margin: 0 auto;
}


/* HEADER */


.header_top {
    position: relative;
    background-color: black;
    height: 45px;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    flex-direction: row;
}

.header_top p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_top span {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}


.select_language {
    background-color: black;
    color: #FFFFFF;
    border: none;
    float: right;
    margin-top: 10px;
    margin-right: 100px;
}


header {
    height: 55px;
    width: calc(100% - 270px);
    margin: 0 auto;
}


.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header_nav--logo {
    font-size: 1.6rem;
    font-weight: bold;
}

.header_nav--nav {

}

.header_nav--nav a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 20px;
    transition: text-decoration 0.3s ease;
}

.header_nav--nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Độ dày của gạch chân */
    bottom: 0;
    left: 0;
    background-color: #808080;
    transform: scaleX(0); /* Thu nhỏ theo chiều ngang */
    transform-origin: bottom right;
    transition: transform 0.3s ease; /* Hiệu ứng chuyển tiếp mượt mà */
}

.header_nav--nav a:hover::after {
    transform: scaleX(1); /* Mở rộng theo chiều ngang khi hover */
    transform-origin: bottom left;
}

.header_nav--right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


.header_nav--right ion-icon {
    width: 20px;
    height: 20px;
}

.header_nav--right span {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer
}


.header_nav--right img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* BANNER */

.banner {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.banner_category ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    width: 220px;
}

.banner_category li {
    list-style: none;
}

.banner_category a {

}


.banner_img img {
    width: 892px;
    height: 344px;
}

.banner_img {
    justify-self: flex-end;
}


.vertical-bar {
    position: absolute;
    top: -30px;
    left: 300px;
    width: 1px;
    height: 374px;
    background-color: #B3B3B3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #B3B3B3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /*z-index: 1000;*/
    /*margin-top: 130px;*/
}


/* Products */
.products {
    margin-top: 80px;
}

.products_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.product_item {
    gap: 30px;
    width: 225px;
    height: auto;
    position: relative;
}

.product_item--sale {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 50px;
    height: 26px;
    background-color: #DB4444;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.product_item--sale p {
    margin-top: 3px;
    color: whitesmoke;
    font-size: 0.85rem;
}

.product_item--preview {
    position: absolute;
    top: 56px;
    right: 12px;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.product_item--preview ion-icon {
    margin-top: 9px;
}

.product_item--heart {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}


.product_item--heart i {
    margin-top: 9px;
}


.product_img--cart {
    width: 120px;
}

.product_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 220px;
    background-color: #f5f5f5;
}

.product_cart--button {
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    cursor: pointer;
    height: 35px;
}

.product_price--name {
    font-size: 1rem;
    font-weight: 500;
}

.product_price {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.product_price--new {
    color: #DB4444;
    font-size: 1.1rem;
    font-weight: 500;
}

.product_price--old {
    color: #808080;
    text-decoration: line-through;
}


/* CHECKOUT */

.checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
}

.checkout_form {
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;

}

.checkout_code {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 16px;
}

.checkout_code-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}


.checkout_code-product p {
    margin-top: 10px;
}

.checkout_code-product div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 12px;
}

.checkout_code-product img {
    width: 40px;
    height: 40px;
}


.checkout_code--product--price {
    margin-top: 10px;
}


.checkout_code--payment--bank img {
    width: 40px;
    height: 40px;
}

/* PRODUCT DETAIL */

.product-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

}

.product-detail_subimg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 600px;
}


.product-detail_subimg--detail {
    width: 170px;
    height: 134px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-content: center;
}

.product-detail_subimg--detail img {
    width: 121px;
    height: 114px;
}

.product-detail_img {
    width: 500px;
    height: 600px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-content: center;
}

.product-detail_img img {
    width: 446px;
    height: 315px;
    margin-top: 100px;
}

.product-detail_info {
    margin-left: 50px;
    flex-grow: 1;
}

.product-detail_info--deliver {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    margin-left: 30px;
}

.product-detail_info--deliver img {
    width: 40px;
    height: 40px;
}

.product-detail_delivery {
    border: 1px solid #808080;
    border-radius: 6px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.detail_nav {
    margin-top: 50px;
}

.detail_nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.product-detail_related {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.product-detail_related div{
    width: 20px;
    height: 40px;
    background-color: #DB4444;
    border-radius: 6px;
}

.product-detail_related p{
    color: #DB4444;
    margin-top: 14px;
    font-weight: 500;
}

.pagination_product {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.pagination_product a{
    color: black;
}

.pagination_product a:hover{
    color: #DB4444;
}


/* CATEGORY */

.category_arrow {
    width: 38px;
    height: 38px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.category_arrow i{
    font-size: 1rem;
}

.category_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
    justify-content: space-between;
}

.category_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 170px;
    height: 145px;
    border: 1px solid #b3b3b3;
    border-radius: 6px;

}

.category_item--img {
    width: 56px;
    height: 56px;
}





/* GUARANTEE */

.guarantee {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 88px;
    margin-top: 140px;
}

.guarantee_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.guarantee_item div{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* PROFILE */
.profile {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile_account {
    display: flex;
    flex-direction: column;
}

.profile_account h6{
    font-weight: 600;
}

.profile_account ul li{
    list-style: none;
}

.profile_account ul li a{
    text-decoration: none;
    color: #909090;
}
.profile_account ul li a:hover{
    text-decoration: none;
    color: #DB4444;
}

.profile_form {
    width: 700px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_form form{
    width: 550px;
}

.profile_form input {
    border: none;
    background-color: #f5f5f5;
    color: #7b7b7b;
    font-size: 0.9rem;
}

.profile_form input:focus {
    border: none;
}

.profile_form h5{
    color: #DB4444;
    font-weight: 600;
}

/* CART */
.cart_option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

.cart_option--coupon {

}

.cart_option--subtotal {
    width: 470px;
    height: 324px;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #B3B3B3;
}


/* FOOTER */
footer {
    margin-top: 100px;
    height: 440px;
    background-color: black;
    color: #FFFFFF;

}

.footer_list {
    width: calc(100% - 270px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.footer_item {
    margin-top: 100px;
}

.footer_download {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer_download--qr {
    width: 80px;
    height: 80px;
}

.footer_download--app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_download--app img {
    width: 104px;
    height: 34px;
}


/* CONTACT */
.contact {
    padding: 130px 0;
}

.contact .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}

.contact .heading h2 span {
    color: #ff9100;
}

.contact .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 60px;
    padding: 0;
}

.contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 0;
    border-radius: 10px;
}

.contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #ff9100;
    color: #ffffff;
}

.contact .title h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 1.6;
    margin: 0 0 40px;
}

.contact .content .info {
    margin-top: 30px;
}

.contact .content .info i {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 20px;
    text-align: center;
    width: 20px;
}

.contact .content .info h4 {
    font-size: 13px;
    line-height: 1.4;
}

.contact .content .info h4 span {
    font-size: 13px;
    font-weight: 300;
    color: #999999;
}
