[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
lower_case_table_names=1
sql_mode=PIPES_AS_CONCAT,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

# スロークエリ調査
slow_query_log=1
slow_query_log_file = /var/lib/mysql/mysql-slow.sql
long_query_time=0.5

# 最大パケットサイズ
max_allowed_packet=32M

[client]
default-character-set=utf8mb4